fastapi
uvicorn
python-dotenv
supabase
apscheduler
pydantic
pydantic-settings
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
resend
razorpay
google-generativeai
python-jose[cryptography]
passlib[bcrypt]
python-multipart
httpx
